body{
	background-image:url("backgroundimg.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 300px;
	width: 100%
	background-repeat:repeat-y;
	background-color: #464646;
}

.login-header{
	background-color:#F0F8FF;
	padding-bottom: 15px;
}

.login-container{
	background-color:#565C57;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
}

.login-input{
	background-color:#FFFFFF;
	color:#000000;
}

.remember-me{
	color:black;
}

.login-button{
	background-color:#064452;
}

/*validate message*/
#pwdmessage {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#pwdmessage p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
}

/* Add a red text color when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  /*content: "<span>&#10006;&#xFE0E;</span>";*/
}